.grid-layout{
    display: grid;
    grid-template-columns: auto 40% auto;
    grid-template-rows: auto auto;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    }
    .titulo{
        background-color: #ffd100;
        grid-column: 1/4 ;
        text-align: center;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        grid-row: auto;
        height: 45px;
        grid-template-rows: 2/3;
        line-height: 0px ;
        margin-left: 0px;
    }
    .derecha{
        grid-template-rows: 2/3;
        grid-column: 3/4;
        grid-row: auto;
        height: auto;
        text-align: center;
        line-height: 50%;
    }
    .izquierda{
        grid-template-rows: 2/3;
        grid-column: 1/2;
        grid-row: auto;
        height: auto;
        text-align: center;
        line-height: 50%;
    }
    .centro{
    grid-template-rows: 2/3;
     grid-column: 2/3;
     grid-row: auto;
     background-color: 970043;
     height: 100%;
    }
    .centro:hover{
        background-color: white;
    }
    .slide{
    float: auto;
    }
    body{
        background-color: #970043;
        border-left: 0px;
        padding-left: 0px;
        margin-left: 0px;
        overflow: auto;
        text-transform: capitalize;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }